*:focus {
    color: #fec503;
}

body {
	margin: 0px;
    line-height: 1.6;
    width: 100vw;
    background-color: #AEBD38
}

/* Header */
header {
    font-family: 'Kumar One Outline', cursive;
    display: flex;
    background-color: #505160;
}

.logo {
    width: 30%;
    text-align: center;
}

.logo-image {
    width: 90%;
}

.name {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    color: cornsilk;
}

.name h1, .mission {
    position: relative;
    top: 18%;
}

/* nav */
nav {
    background-color: #598234;
    padding: 5px;
    /* display: flex; */
    border-bottom: 10px solid black;

}

nav li {
    list-style: none;
    display: inline;
    padding: 10px;
}

ul {
    margin-left: 4px;
    padding-inline-start: 0px;
}

.navbar-default li a {
    color: white;
    text-decoration: none;
}

.navbar-default li a:hover, {
    color: green;
}

a:focus, a:active, a.active {
    color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}
/* gallery */

main {
    font-family: 'Cinzel', serif;
    background-color: #fff;
}

.more {
    margin: auto;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery-div {
    width: 100%;
}

.gallery-sub-div {
    display: flex;
    flex-direction: row;
}

.image {
    box-shadow: 9px 5px 30px #000;
    border-radius: 20px;
    margin: 3px;
}

h2 {
    margin-block-start: 0.3em;
    margin-block-end: 0.2em;
}

/* .gallery-div {
    width: 100%;
} */

.gallery-sub-div div {
    width: 50%;
}

#portfolio {
    text-align: center;
    width: 100%;
}

/* team */

hr {
    border-width: 4px;
}

.team-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 100%;
    margin: 3% auto;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 9px 5px 30px #000;

}

.ceo image {
    width: 100%;
}

.staff-image {
    text-align: center;
    /* background-color: #B3C100; */
    background-color: #f1f1f2;
    border-radius: 20px;
}

.team-text {
    border-radius: 20px;
    color: #000;
}

.staff-image img {
    width: 80%;
    border-radius: 20px;
    box-shadow: 10px 5px 30px grey;
}

#team .section-title {
    text-align: center;
}

@media screen and (min-width: 700px) {
    .ceo {
        width: 80%;
        margin: 0 auto;
    }

    .ceo-image {
        width: 100%;
        padding: 0 auto;
    }

    .cso {
        width: 45%;
    }
    .manager {
        width: 45%;
    }
}

@media screen and (max-width: 699px) {
    .staff-image {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 470px) {
    #gallery{
        display: block;
    }

    .gallery-sub-div {
        display: block;
        /* width: 100vw; */
    }

    .gallery-sub-div div {
        width: 100%;
    }

    .name h1 {
        font-size: 1em;
    }

    nav li {
        list-style: none;
        display: inline;
        padding: 0.1em;
    }
}

@media screen and (max-width: 365px) {
    .name h1 {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 770px) and (min-width: 471px) {
    .name h1 {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1150px) {
    main {
        width: 1150px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1150px) {
    .mission {
        margin-top: -1em;
    }
}

footer {
    background-color: black;
    padding: 10px;
    color: green;
    text-align: center;
}

#video {
    position: relative;
    width: 100%;
    height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#video h1 {
    text-align: center;
    /* font-size: 6rem; */
    font-family: "Cookie";
    color: #000;
    z-index: 1;
    opacity: 0.5;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay {
    width: 80%;
    margin: auto;
}

video {
    width: 100%;
    border-radius: 20px;
}