body {
	margin: 0px;
	font-family: "Raleway", Sans-serif;
}
header {
    font-size: 30px;
    background-color: forestgreen;
    padding: 10px;
    margin: 0px;
}

nav li {
    list-style: none;
    display: inline;
    padding: 10px;
}



a:hover, a:focus, a:active, a.active {
    color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

@media (min-width: 768px) {
	section {
	    padding: 150px 0;
	}
}

section {
	padding: 35px 0 60px;
}


#gallery{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
}

.gallery-sub-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 100%; */
    background-color: green;
}

.image {
    padding: 2em;
}

/* .gallery-div {
    width: 100%;
} */

.gallery-sub-div div {
    margin: 10px;
    width: 45%;
}

#portfolio {
    text-align: center;
}

.team-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: yellow;
}

.box {
    width: 100%;
    background-color: grey;
    margin: 20px;
}

.ceo image {
    width: 100%;
}

.staff-image img {
    width: 80%;
    height: 300px;
    margin: 3em;
}

#team .section-title {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .ceo {
        width: 80%;
        margin: 0 auto;
    }

    .ceo-image {
        width: 100%;
        padding: 0 auto;
    }

    .cso {
        width: 40%;
    }
    .manager {
        width: 50%;
    }
}

footer {
    background-color: black;
    padding: 10px;
    color: green;
    text-align: center;
}